<!DOCTYPE html>
<html lang="zh-CN">

<head>




    <link rel="stylesheet" href="/static_company/css/all.min.css">
    <!--<link rel="stylesheet" href="../static/static_company/css/all.min.css">-->
    <link rel="stylesheet" href="/static_company/css/dmaku.css">
    <!--<link rel="stylesheet" href="../static/static_company/css/dmaku.css">-->
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>


    <meta charset="utf-8">
    <title>公司登录</title>

    <style>
        .get-code {
            float:right;
            
            }
        .code-btn {
            color:#002b;
            font-size:12px;
            border:1px solid #002b;
            border-radius:5px;
            padding:5px;
            box-sizing:border-box;
            cursor:pointer;
            height:50%;

        }
        .code-btn_1 {
            color: #999;
            font-size:12px;
            border:1px solid #999;
            border-radius:5px;
            padding:5px;
            box-sizing:border-box;
            height:50%;

        }
    </style>

    
</head>

<body>

    <div class="dowebok" id="dowebok">
        <div  class="form-container sign-up-container">
            <!--<form >-->
            <div id="myRegister" class="formTable">
                <h1 style="letter-spacing:10px">注册</h1>
                <div class="social-container">
                   <!--  <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a> -->
<!--                    <a href="#" class="social"><i class="fa fa-user-plus" ></i></a>-->
                </div>
                <span>使用公司手机号注册</span>


                    <input type="text"  placeholder="公司名称" v-model="name" @input="checkName">
                    <label v-if="flagName" style="margin-bottom: 3px;color: green">该公司名称已被注册，请重新输入</label>
                    <input type="text"  placeholder="手机号" id="tel_num" oninput="value=value.replace(/[^\d]/g,'')" v-model="phone" @input="checkPhone">
                    <label v-if="flagPhone" style="margin-bottom: 3px;color: green">该手机号已被注册，请直接登陆</label>

                    <div  class="get-code"  style=" display: flex;justify-content: space-between;align-items:center">
                        <input type="text" style="width:70%;" placeholder="验证码" v-model="user_code">

                        <span class="code-btn" @click="check_code"  v-if="show" >获取验证码</span>
                        <span class="code-btn_1" v-else >{{code_time}}s重新获取</span>
                    </div>


                    <input type="password" placeholder="密码" v-model="password">
                    <input type="password" placeholder="再次输入密码" v-model="repeatpassword" @input="checkPassword">
                    <label v-if="flagPassword" style="margin-bottom: 10px;color: green">密码不一致，请检查之后重新输入</label>
                    <button class="button1" @click="register" >注册</button>

            </div>
            <!--</form>-->
        </div>
        <div id="myLogin" class="form-container sign-in-container">

            <div class="my">


                <h1 style="letter-spacing:10px">公司登录</h1>
                <div class="social-container">
                   <!--  <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a> -->
                    <a href="#" class="social"><i class="fa fa-user"></i></a>
                </div>

                <div >
                    <span>使用公司手机号</span>
                    <input type="text" placeholder="手机号" v-model="loginPhone">
                    <input type="password" placeholder="密码" v-model="loginPassword">


                    <input style="width:5%;" type="checkbox" id="checkbox" checked="checked" ><label>记住登陆</label>


                    <!--<button class="button1" @click="login">登录</button>-->
                    <button style="width: 100%;margin-top: 10px" @click="myLogin">登录</button>
                    <a href="#">忘记密码？</a>

                </div>

            </div>



        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>已有帐号？</h1>
                    <p>请使用您的帐号进行登录</p>
                    <button class="ghost button1" id="signIn">登录</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>没有帐号？</h1>
                    <p>立即注册加入我们，和我们一起开始旅程吧</p>
                    <button class="ghost button1" id="signUp">注册</button>
                </div>
            </div>
        </div>
    </div>


    <script src="/js/vue.js"></script>
    <script src="/js/axios.min.js"></script>
    <!--<script  src="/static_company/js/yanz.js"></script>-->


    <script>

        var one=new Vue({//登陆页面
            el:"#myLogin",
            data:{
                loginPhone:"",
                loginPassword:""
            },
            methods:
                {
                    myLogin:function(){
                        var that=this;
                        console.log("登陆前")
                        console.log(document.getElementById("checkbox").checked)
                        axios.get("http://localhost:8280/company/checkCompany", {
                            params: {
                                loginPhone: that.loginPhone,
                                loginPassword: that.loginPassword,
                            }
                        }).then(
                            function (response) {
                                console.log("登陆成功" + response.data)
                                console.log( response)
                                console.log( response.data)
                                if(response.data==0){//0代表没有这个公司
                                    alert("未查询到该账号，请注册之后再登陆")
                                }
                                else if(response.data==-1)//-1代表有这个公司，但是密码输入错误
                                {

                                    alert("密码错误，请检查之后重新输入")
                                }
                                else//跳转到公司首页
                                {
                                    window.location.href="/companyservice/login?id="+response.data

                                    /*axios.get("/companyservice/login", {
                                        params: {
                                            id: response.data,
                                        }
                                    }).then(
                                        console.log("跳转成功")

                                    )*/

                                }

                            },
                            function (err) {
                                console.log("失败" + err)
                            }
                        )
                    },
                },
                created:function () {



                }

        });
        var app=new Vue({//注册页面
            el:"#myRegister",
            data:{
                name:"",//公司名称
                phone:"",//手机号
                password:"",//密码
                repeatpassword:"",//校验密码
                flagName:false,//公司名称是否已存在
                flagPhone:false,//电话号码是否已存在
                flagPassword:false,//两次密码是否一致
                show:true,//是否发送验证码
                code_time:5,//验证码倒计时
                code:"",//后台生成的验证码
                user_code:"",//用户输入的验证码

            },
            methods:
                {
                    time1:function (){//时间函数
                        this.code_time=this.code_time-1;
                        console.log(this.code_time);
                        if(this.code_time==0){
                            clearInterval(this.time_count);
                            this.time_count = null;
                            this.code_time=5;
                            this.show=!this.show;
                        }
                    },
                    check_code:function (){//发送验证码
                        var that=this
                        this.show=!this.show;
                        this.time_count = setInterval(this.time1,1000);
                        var code = Math.floor(Math.random()*(9999-1000))+1000;
                        that.code=code;
                        console.log("code"+that.code);
                        if(that.phone=="")
                        {
                            alert("请输入手机号后再发送验证码")
                        }
                        else
                        {
                                axios.get("http://localhost:8280/company/check_code", {
                                    params: {
                                        phone:that.phone,
                                        code:that.code,
                                    }
                                }).then(
                                    function (response) {
                                        console.log("发送code成功" + response.data)
                                    },
                                    function (err) {
                                        console.log("发送code失败" + err)
                                    }
                                )

                        }

                    },
                    checkName:function(){//检查公司名称是否已被注册
                        var that=this
                        axios.get("http://localhost:8280/company/checkName", {
                            params: {
                                name: that.name,
                            }
                        }).then(
                            function (response) {
                                console.log("检查name成功" + response.data)
                                that.flagName=response.data;
                            },
                            function (err) {
                                console.log("检查name失败" + err)
                            }
                        )


                    },
                    checkPhone:function(){//检查手机号是否已被注册
                        var that=this
                        axios.get("http://localhost:8280/company/checkPhone", {
                            params: {
                                phone: that.phone,
                            }
                        }).then(
                            function (response) {
                                console.log("检查phone成功" + response.data)
                                that.flagPhone=response.data;
                            },
                            function (err) {
                                console.log("检查phone失败" + err)
                            }
                        )

                    },

                    checkPassword:function(){//检查两次密码是否一致
                        if(this.password!=this.repeatpassword)
                        {
                            this.flagPassword=true;
                        }
                        else
                        {
                            this.flagPassword=false;
                        }

                    },
                    login:function(){
                        var that=this;
                        axios.get("http://localhost:8280/company/login", {
                            params: {
                                loginPhone: that.loginPhone,
                                loginPassword: that.loginPassword,
                            }
                        }).then(
                            function (response) {
                                console.log("登陆成功" + response.data)

                            },
                            function (err) {
                                console.log("失败" + err)
                            }
                        )
                    },
                    register:function () {
                        var that=this
                        that.checkPassword();
                        console.log("调用前")
                        //axios.get()
                        if(that.name=="")
                        {
                            alert("请输入公司名称")
                        }
                        else if(that.phone==""){
                            alert("请输入手机号")
                        }
                        else if(that.password==""){
                            alert("请输入密码")
                        }
                        else if(that.repeatpassword=="")
                        {
                            alert("请再次输入密码")
                        }
                        else if(that.flagName==true)
                        {
                            alert("公司名称已经存在，请重新输入")
                        }
                        else if(that.flagPhone==true)
                        {
                            alert("该手机号已被注册，请重新输入")
                        }
                        else if(that.flagPassword==true)
                        {
                            alert("两次密码不一致，请检查之后重新输入")
                        }
                        else if(that.code!=that.user_code){
                            alert("验证码错误，请重新输入")
                        }
                        else {
                                    axios.get("http://localhost:8280/company/register", {
                                        params: {
                                            name: that.name,
                                            phone: that.phone,
                                            password: that.password,

                                        }
                                    }).then(
                                        function (response) {
                                            console.log("成功" + response.data)
                                            alert("注册成功")
                                        },
                                        function (err) {
                                            console.log("失败" + err)
                                        }
                                    )
                        }


                    }

                }

        });
    </script>
    <script>
        var signUpButton = document.getElementById('signUp')
        var signInButton = document.getElementById('signIn')
        var container = document.getElementById('dowebok')

        signUpButton.addEventListener('click', function () {
            container.classList.add('right-panel-active')
            console.log("222")
        })

        signInButton.addEventListener('click', function () {
            container.classList.remove('right-panel-active')
            console.log("111")
        });
    </script>



</body>


</html>