<!DOCTYPE html>
<html xmlns:margin-left="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/all.css"/>
    <script src="js/my.js"></script>
	<script src="js/vue.js"></script>
	<script src="js/axios.min.js"></script>
    <script>
        // 1、获得焦点，内容为空，tip默认提示
        // 2、失去焦点，内容为空，tip为隐藏
        // 3、其他情况（按键抬起，失去焦点且内容不为空，或最后表单总验证）
        //    按键抬起为空，报错，不能为空
        //    内容匹配，成功
        //    内容不匹配，失败
        // 4、密码要进行安全等级检测，含数字、字母、特殊字符为强，两种为中，一种为弱
        // 5、确认密码失去焦点的时候就要验证是否一致
    </script>
</head>
<body background="https://h2.ioliu.cn/bing/ButtermereSunset_ZH-CN9706111376_1920x1080.jpg?imageslim"
style="background-repeat:no-repeat;background-size:100% 100%;background-attachment: fixed;">
    <!--头部-->
    <div class="header">
<!--        <a class="logo" href="##"></a>-->
        <a href="/EnterToRegister" class="desc1">注册</a>
		<a href="" class="desc2">关于我们</a>
<!--		<a class="desc3">关于我们</a>-->
    </div>
    <!--版心-->
    <div class="container" >
    	<!--京东注册模块-->
    	<div id="login" class="login">
    		<!--用户名-->
    		<div class="register-box">
    			<!--表单项-->
    			<div class="box default">
    				<label for="userName">用&nbsp;户&nbsp;名 </label>
    				<input v-model="Email" type="text" id="userName" placeholder="请输入您的账户或登录名" />
    				<i></i>
    			</div>
    			<!--提示信息-->
    			<div class="tip">
    				<i></i>
    				<span></span>
    			</div>
    		</div>
    		<!--设置密码-->
    		<div class="register-box">
    			<!--表单项-->
    			<div class="box default">
    				<label for="pwd">密 码</label>
    				<input v-model="password" type="password" id="pwd" placeholder="请输入您的密码" />
    				<i></i>
    			</div>
    			<!--提示信息-->
    			<div class="tip">
    				<i></i>
    				<span></span>
    			</div>
    		</div>
				<button class="completeRegister" @click="login">登录</button>
    	</div>
    	
    </div>
	<script>
		var app=new Vue({
			el:"#login",
			data:{
				Email:"",
				password:""
			},
			methods:{
				login:function () {
					var that=this;
					console.log("登陆前")
					axios.get("/admin/login", {
						params: {
							Email: that.Email,
							password: that.password,
						}
					}).then(
							function (response) {
								console.log("登陆成功" + response.data)
								console.log( response)
								console.log( response.data)
								if(response.data==0){//0代表没有这个公司
									alert("未查询到该账号，请注册之后再登陆")
								}
								else if(response.data==-1)//-1代表有这个公司，但是密码输入错误
								{

									alert("密码错误，请检查之后重新输入")
								}
								else//跳转到公司首页
								{
									// window.location.href="/companyservice/login?id="+response.data
									//alert("登陆成功")
									window.location.href="/EnterToAdmin"
								}
							},
							function (err) {
								console.log("失败" + err)
							}
					)
				}
			}
		})
	</script>
</body>
</html>