<!DOCTYPE html>
<html xmlns:margin-left="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/all.css"/>
    <script src="js/my.js"></script>
	<script src="js/vue.js"></script>
	<script src="js/axios.min.js"></script>
    <script>
        // 1、获得焦点，内容为空，tip默认提示
        // 2、失去焦点，内容为空，tip为隐藏
        // 3、其他情况（按键抬起，失去焦点且内容不为空，或最后表单总验证）
        //    按键抬起为空，报错，不能为空
        //    内容匹配，成功
        //    内容不匹配，失败
        // 4、密码要进行安全等级检测，含数字、字母、特殊字符为强，两种为中，一种为弱
        // 5、确认密码失去焦点的时候就要验证是否一致
    </script>
</head>
<body background="https://h2.ioliu.cn/bing/ButtermereSunset_ZH-CN9706111376_1920x1080.jpg?imageslim"
style="background-repeat:no-repeat;background-size:100% 100%;background-attachment: fixed;">
    <!--头部-->
    <div class="header">
<!--        <a class="logo" href="##"></a>-->
        <a href="/EnterToLogin" class="desc1">登录</a>
		<a href="" class="desc2">关于我们</a>
<!--		<a class="desc3">关于我们</a>-->
    </div>
    <!--版心-->
    <div class="container" >
    	<!--京东注册模块-->
    	<div id="register" class="register">
    		<!--用户名-->
    		<div class="register-box">
    			<!--表单项-->
    			<div class="box default">
    				<label for="userName">手机号</label>
    				<input v-model="phoneNumber" type="number" id="userName" placeholder="请输入您的手机号" />
    				<i></i>
    			</div>
    			<!--提示信息-->
    			<div class="tip">
    				<i></i>
    				<span></span>
    			</div>
    		</div>
    		<!--设置密码-->
    		<div class="register-box">
    			<!--表单项-->
    			<div class="box default">
    				<label for="pwd">设 置 密 码</label>
    				<input v-model="password" type="password" id="pwd" placeholder="建议至少两种字符组合" />
    				<i></i>
    			</div>
    			<!--提示信息-->
    			<div class="tip">
    				<i></i>
    				<span></span>
    			</div>
    		</div>
    		<!--确认密码-->
    		<div class="register-box">
    			<!--表单项-->
    			<div class="box default">
    				<label for="pwd2">确 认 密 码</label>
    				<input v-model="confirmPassword" type="password" id="pwd2" placeholder="请再次输入密码" />
    				<i></i>
    			</div>
    			<!--提示信息-->
    			<div class="tip">
    				<i></i>
    				<span></span>
    			</div>
    		</div>
    		<!--手机验证-->
    		<div class="register-box">
    			<!--表单项-->
    			<div class="Tel default">
    				<label for="mobile">手 机 验 证</label>
    				<input v-model="code" type="number" id="mobile" placeholder="请输入手机号" />
    				<i></i>
    			</div>
				<button class="getCode"> 获取验证码</button>
    			<!--提示信息-->
    			<div class="tip">
    				<i></i>
    				<span></span>
    			</div>
    		</div>
    		 <!--注册协议-->
    		<div class="register-box xieyi">
    			<!--表单项-->
    			<div class="box default">
<!--    				<input type="checkbox" id="ck" />-->
    				<span>登录即已同意
						<a href="##">《用户协议》</a>
						<a href="##">《隐私政策》</a>
						<a href="##">《儿童隐私政策》</a>
					</span>
    			</div>
    			<!--提示信息-->
    			<div class="tip">
    				<i></i>
    				<span></span>
    			</div>
    		</div>
    		<!--注册-->
				<button class="completeRegister" @click="register">注册</button>
    	</div>
    	
    </div>
	<script>
		var app = new Vue({
			el:"#register",
			data:{
				phoneNumber: "",
				password: "",
				confirmPassword: "",
				code: ""
			},
			methods:{
				register:function () {
					var that=this;
					console.log("登陆前")
					axios.get("http://localhost:8280/EnterToCheckInfo", {
						params: {
							phoneNumber: that.phoneNumber,
							password: that.password,
							confirmPassword: that.confirmPassword,
							code: that.code
						}
					}).then(
							function (response) {
								console.log("注册结果" + response.data)
								console.log( response)
								console.log( response.data)
								if(response.data==0){//0代表没有这个公司
									alert("该用户名已存在")
								}
								else//跳转到公司首页
								{
									//window.location.href="/EnterToLogin?id="+response.data
									alert("注册成功！")
								}
							},
							function (err) {
								console.log("失败" + err)
							}
					)
				}
			}
		})
	</script>
</body>
</html>